:root {
  --gunmetal: #282c34ff;
  --taupe-gray: #8c8a93ff;
  --light-sea-green: #03b5aaff;
  --crimson-ua: #a71d31ff;
  --baby-powder: #fffffaff;
}

html,
body,
#root {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  background-color: var(--gunmetal) !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  color: var(--baby-powder);
}
